{% extends 'main/header.html' %}

{% block content %}
	
	<br>
	<div style="font-weight:bold;" class="flow-text center-align pink-text text-darken-3">
		We do our Best
	</div>
	<br>

	<div class="row">
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<div class="card-panel blue-grey darken-4">
				<strong class="white-text">Ensure each adoption is undertaken in the best interest of the child.</strong>
			</div>
		</div>
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<div class="card-panel blue-grey darken-4">
				<strong class="white-text">Prioritise support for the adoption triad: child, birth mother and adoptive family.</strong>
			</div>
		</div>
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<div class="card-panel blue-grey darken-4">
				<strong class="white-text">Prevent the abduction, exploitation, sale or trafficking of children.</strong>
			</div>
		</div>
	</div>

	<hr>

	<br>
	<div style="font-weight:bold;" class="flow-text center-align pink-text text-darken-3">
		Types of Adoption
	</div>
	<br>

	<div class="row">
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<p><strong class="blue-text text-darken-3">Adopt an infant<br>
(less than 2 years old)</strong></p>

			OrphanCare operates baby hatches and facilitates adoptions for babies whose birth mothers and parents have chosen adoption
		</div>
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<p><strong class="blue-text text-darken-3">Adopt an infant<br>
(2-18 years old)</strong></p>
			Older children need love, care, attention and family urgently. We urge Malaysians to adopt older children, even a pair of siblings.
		</div>
		<div style="font-size:120%;" class="col s12 m4 center-align flow-text">
			<p><strong class="blue-text text-darken-3">Adopt a special needs child</strong></p>
			Many special needs children would thrive in the care of a loving family. Adopting children with special needs can be incredibly rewarding and fulfilling.
		</div>
	</div>

	<br>
	<div style="font-weight:bold;" class="flow-text center-align pink-text text-darken-3">
		Steps to Adopt Child
	</div>
	<br>

	<ul class="collapsible popout">
    <li class="active">
      <div class="blue-grey lighten-5 collapsible-header">Step 1 – Registration</div>
      <div class="collapsible-body"><span>Prospective adoptive parents need to get registered with an authorized agency. Recognised Indian Placement Agencies (RIPA) and Special Adoption Agency (SPA) are the agencies which are allowed to make such registrations in India. The prospective adoptive parents can visit the Adoption Coordination Agency in their area where the social worker will explain the process and take you through the formalities, paperwork and general preparation required for registration.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 2 – Home Study and Counseling</div>
      <div class="collapsible-body"><span>A social worker for the registration agency will make a visit to the home of the prospective adoptive parent in order to do a home study. The agency might also need the parents to attend counselling sessions in order to understand the motivation, preparation, strengths and weaknesses of the prospective parents. As per CARA regulation, the home study needs to be completed within 3 months from the date of registration. The conclusion from the home study and counselling sessions is then reported to the honourable court.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 3 – Referral of the Child</div>
      <div class="collapsible-body"><span>The agency shall intimate the interested couple when-ever there is a child ready for adoption. The agency will share medical reports, physical examination reports and other relevant information with the couple and also allow them to spend time with the child once they are comfortable with the details shared.</span></div>
    </li>

    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 4 – Acceptance of the Child</div>
      <div class="collapsible-body"><span>Once the parents are comfortable with a child, they will have to sign a few documents pertaining to acceptance of the child.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 5 – Filing of Petition</div>
      <div class="collapsible-body"><span>All necessary documents are submitted to a lawyer who prepares a petition to be presented to the court. Once the petition is ready, the adoptive parents will have to visit the court and sign the petition in front of the court officer.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 6 – Pre-Adoption Foster Care</div>
      <div class="collapsible-body"><span>Once the petition is signed in the court, the adoptive parents can take the child to a pre-adoption foster care centre and understand the habits of the child from the nursing staff before taking the child home.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 7 – Court Hearing</div>
      <div class="collapsible-body"><span>The parents have to attend a court hearing along with the child. The hearing is held in a closed room with a judge. The judge may ask a few questions and will mention the amount which needs to be invested in the name of the child.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 8 – Court Order</div>
      <div class="collapsible-body"><span>Once the receipt of investment made is shown, the judge shall pass the adoption orders.</span></div>
    </li>
    <li>
      <div class="blue-grey lighten-5 collapsible-header">Step 9: Follow Up</div>
      <div class="collapsible-body"><span>Post completion of the adoption, the agency needs to submit follow up reports to the court on the child’s well-being. This may continue for 1-2 years.</span></div>
    </li>
  </ul>

{% endblock %}